{% extends "base.html" %}

{% block title%}
<title>Car Rental | Login</title>
{% endblock %}

{% block main_content %}
<main class="forms">
    <h1>Login</h1>
    <img src="{{ url_for('static', filename='orangeblackimg.jpg') }}">
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.email.label }}
        {{ form.email() }}
        <br>
        {{ form.password.label }}
        {{ form.password()}}
        <br>
        <p>Don't have an account? <a href="{{ url_for('registration') }}">Register Here</a></p>
        {{ form.submit() }}
        {% for error in form.email.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% for error in form.password.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </form>
    <section id="socialmedia">
        <a href="https://www.facebook.com" class="fa fa-facebook fa-2x"></a>
        <a href="https://www.twitter.com" class="fa fa-twitter fa-2x"></a>
        <a href="https://www.instagram.com" class="fa fa-instagram fa-2x"></a>
    </section>
</main>
{% endblock %}